body {
	margin: 0;
	padding: 0;
	background: #000 url(../img/bgHeaderTop_blue.png);
}
p {
	font-family: 'Lobster', cursive;
	font-size: 32px;
	color: #fff;
}
.info p{
	display: inline-block;
	margin: 40px;
}
.info .skill {
	margin-left: 30%;
	font-size: 28px;
}
.portfolio {
	text-align: center;
}
.slider {
	width: 40%;
	position: relative;
	top: 50px;
	margin: 0 26%;
}
.slider ul {
	list-style: none;
}
.slider ul li {
	width: 50%;
}
.slider ul li img{
	width: 100%;
}
/*.slider ul li {
	-moz-box-shadow: -7px -7px 13px #2b2a2b;
	-webkit-box-shadow: -7px -7px 13px #2b2a2b;
	box-shadow: -7px -7px 13px #2b2a2b;
}*/
.slider .btnNext,
.slider .btnPrev {
	position: absolute;
	cursor: pointer;
	height: 32px;
	width: 21px;
	top: 100px;
}
.slider .btnNext {
	background: url(../img/btnSlider.png) 0 -82px no-repeat;
	left: 710px;
}
.slider .btnNext:hover {
	background: url(../img/btnSlider.png) 0 -122px no-repeat;
}
.slider .btnPrev {
	background: url(../img/btnSlider.png) 0 0 no-repeat;
	left: -100px;
}
.slider .btnPrev:hover {
	background: url(../img/btnSlider.png) 0 -40px no-repeat;
}
.roundabout-holder {
	height: 300px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 650px;
}

.roundabout-moveable-item {
	box-shadow: -7px -7px 13px #2b2a2b;
	height: 300px;
	width: 460px;
}

.roundabout-moveable-item > img {
	height: 100%;
	width: 100%;
}